<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mytechia.robobo.framework.hri.vision">

    <uses-permission android:name="android.permission.CAMERA" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

    <service
        android:name="VideoProcessingService"
        android:label="@string/service_name"
        >
    </service>

</manifest>
